@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}
@font-face {
  font-family: 'proxima_novamedium';
  src: url('/fonts/proxima-nova/proxima-nova-medium.woff2') format('woff2'),
    url('/fonts/proxima-nova/proxima-nova-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novalight';
  src: url('/fonts/proxima-nova/proxima-nova-light.woff2') format('woff2'),
    url('/fonts/proxima-nova/proxima-nova-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('/fonts/proxima-nova/proxima-nova-semibold.woff2') format('woff2'),
    url('/fonts/proxima-nova/proxima-nova-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'adinda_meliaregular';
  src: url('/fonts/adindamelia/adindamelia.woff2') format('woff2'),
    url('/fonts/adindamelia/adindamelia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
